@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

@media only screen and (max-width: 768px) {
    
}

#goods-main-container{
    font-family: 'Hanalei Fill', cursive;
    letter-spacing: .05rem;
    font-size: x-large;
    font-weight: 200;
}

#goods-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#welcome-card {
    text-align: center;
    color: rgb(15, 74, 15);
}

#welcome-card-header {
    font-weight: bold;
    font-size: x-large;
}

#zugzug-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#news-cards {
    color: rgb(15, 74, 15);
    
}
#card-group {
    margin-top: 1.5rem;
}

#news-header-card {
    text-align: center;
    color: black;
    
}

#news-header-card-text {
    font-weight: bold;
}

#news-anchor-tag {
    color: rgb(15, 74, 15);
}

.news-card-header {
    font-weight: bold;
    text-align: center;
}

.news-article-title {
    margin-top: 1.0rem;
}

.news-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2rem;
    margin-top: 2rem;
}