#goods-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#welcome-card {
    text-align: center;
}

#zugzug-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}