@media only screen and (max-width: 768px) {
    #nav-header {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
}

/* #nav-header {
    display: flex;
    justify-content: space-between;
} */