#card-graph-head{

}

#card-graph-header{
    text-align: center;
}

#card-graph-head-title{
    text-align: center;
}

#card-graph-head-text{
    text-align: center;
}

#graph-container{
    margin: auto;
}

#card-graph-footer{

}

#card-graph-footer-title{
    text-align: center;
}

#card-graph-footer-text{
    text-align: center;
}