
#card-graph-header{
    text-align: center;
}

#card-graph-head {
   color: rgb(15, 74, 15); 
}

#card-graph-head-title{
    text-align: center;
}

#card-graph-head-text{
    text-align: center;
}

#graph-container{
    margin: auto;
}


#card-graph-footer-title{
    text-align: center;
    color: rgb(15, 74, 15);
}

#card-graph-footer-text{
    text-align: center;
    color: rgb(15, 74, 15);
}